<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        Upload File: <input type="file" name="file_input"><br>
        <input type="text" name="folderName" required/>
        <button type="submit">Submit</button>
    </form>
    <br>
    <form method="POST" enctype="multipart/form-data" action="/gcs-manual-delete">
        Delete this file
        <input type="text" name="fileName" placeholder="Enter a file name" required/>
        <input type="password" name="secret" required/>
        <button type="submit">DELETE</button>
    </form>
</body>
</html>